.stars-bg {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.stars-bg::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  box-shadow:
    20px 30px white,
    60px 80px #fff,
    100px 150px white,
    160px 200px #ccc,
    240px 100px #eee,
    320px 50px #fff;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.3;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
