.stars, .stars2, .stars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-repeat: repeat;
  background-size: contain;
  animation: moveStars 100s linear infinite;
}

.stars {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  z-index: 0;
  opacity: 0.5;
}

.stars2 {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation-duration: 200s;
  opacity: 0.3;
}

.stars3 {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation-duration: 300s;
  opacity: 0.2;
}

@keyframes moveStars {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
